<div [hidden]="!submitted">
  <h3>Form successfully submitted!</h3>
</div>
	<h1>Build Your Profile</h1>
	<button class="logout" (click)="logout()">Logout</button>
<form (ngSubmit)="onSubmit()" #myForm="ngForm">
 <div class="alert alert-info">
      Ready to submit?:
      <span *ngIf="myForm.form.valid" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
      <span *ngIf="!myForm.form.valid" class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
 </div>
 <div class="col-lg-6">
	<div class="panel panel-default">
		<div class= "panel-heading">
			About Me
		</div>
	<div class="form-group"> First Name
		<input 
			id = "firstName"
			class ="form-control" 
			type="text"
			placeholder="First Name"
			[(ngModel)]="model.firstName"
			required name="firstName"	
			#firstName = "ngModel"
		/>
		<div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">
			First name is required! Please fill in a value.
		</div>
	</div>
	<div class="form-group"> Last Name
		<input 
			id = "lastName"
			class ="form-control" 
			type="text" 
			placeholder="Last Name"	
			[(ngModel)]="model.lastName"
			required name="lastName"	
			#lastName = "ngModel"	
		/>
		<div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">
			Last name is required! Please fill in a value.
		</div>
	</div>
	<div class="form-group"> Age
		<input 
			id = "age"
			class ="form-control" 
			type="number" 
			placeholder="Age"
			[(ngModel)]="model.age"
			required name="age"	
			#age = "ngModel"		
		/>
		<div [hidden]="age.valid || age.pristine" class="alert alert-danger">
			Age is required! Please fill in a value.
		</div>
	</div>
	<div class="form-group"> Handicap
		<input 
			id = "handicap"
			class ="form-control" 
			type="number"
			placeholder="Handicap (Leave blank if you don't have one)"
			[(ngModel)]="model.handicap"
			name="handicap"	
			#handicap = "ngModel"		
		/>
	</div>
	<div class="form-group"> Profession
		<input 
			id = "profession"
			class ="form-control" 
			type="text" 
			placeholder="Profession"
			[(ngModel)]="model.profession"
			required name="profession"
			#profession = "ngModel"			
		/>
		<div [hidden]="profession.valid || profession.pristine" class="alert alert-danger">
			Profession is required! Please fill in a value.
		</div>
	</div>
	<div class="form-group"> Company
		<input 
			id = "company"
			class ="form-control" 
			type="text" 
			placeholder="Company"	
			[(ngModel)]="model.company"	
			name="company"
			#company = "ngModel"		
		/>
	</div>
	<button type="submit" class="btn btn-primary" [disabled]="!myForm.form.valid">Save</button>
	</div>
</div>
<div class="col-lg-6">
	<div class="panel panel-default">
		<div class="panel-heading">
			Location
		</div>
		<div class="form-group"> City
			<input 
				id = "city"
				class ="form-control" 
				type="text" 
				placeholder="City"
				[(ngModel)]="model.city"
				required name="city"
				#city = "ngModel"			
			/>
			<div [hidden]="city.valid || city.pristine" class="alert alert-danger">
			City is required! Please fill in a value.
		</div>
		</div>
		<div class="form-group"> State
			<input 
				id = "state"
				class ="form-control" 
				type="text" 
				placeholder="State"
				[(ngModel)]="model.state"
				required name="state"	
				#state = "ngModel"		
			/>
			<div [hidden]="state.valid || state.pristine" class="alert alert-danger">
			State is required! Please fill in a value.
		</div>
		</div>
		<button type="submit" class="btn btn-primary" [disabled]="!myForm.form.valid">Save</button>
	</div>
</div>
<div class="col-lg-6">
	<div class="panel panel-default">
		<div class="panel-heading">
			Availability
		</div>
		<div class="form-group"> Which days are you available for golf? (Check all that apply)
			<label class="checkbox">
				<input 
					id="monday" 
					type="checkbox" 
					value=""
					[(ngModel)]="model.monday"
					name="monday"	
					#monday = "ngModel">
			Monday
			</label>
			<label class="checkbox">
				<input 
					id="tuesday"
					type="checkbox" 
					value=""
					[(ngModel)]="model.tuesday"
					name="tuesday"	
					#tuesday = "ngModel">
			Tuesday
			</label>
			<label class="checkbox">
				<input 
					id="wednesday" 
					type="checkbox" 
					value=""
					[(ngModel)]="model.wednesday"
					name="wednesday"	
					#wednesday = "ngModel">
			Wednesday
			</label>
			<label class="checkbox">
				<input 
					id="thursday" 
					type="checkbox" 
					value=""
					[(ngModel)]="model.thursday"
					name="thursday"	
					#thursday = "ngModel">
			Thursday
			</label>
			<label class="checkbox">
				<input 
					id="friday" 
					type="checkbox" 
					value=""
					[(ngModel)]="model.friday"
					name="friday"	
					#friday = "ngModel">
			Friday
			</label>
			<label class="checkbox">
				<input 
					id="saturday" 
					type="checkbox" 
					value=""
					[(ngModel)]="model.saturday"
					name="saturday"	
					#saturday = "ngModel">
			Saturday
			</label>
			<label class="checkbox">
				<input 
					id="sunday" 
					type="checkbox" 
					value=""
					[(ngModel)]="model.sunday"
					name="sunday"	
					#sunday = "ngModel">
			Sunday
			</label>
		</div>
		<div class="form-group"> What time of day do you prefer to play? (Check all that apply)
			<label class="checkbox"><input id="morning" type="checkbox" value="">Morning</label>
			<label class="checkbox"><input id="midday" type="checkbox" value="">Midday</label>
			<label class="checkbox"><input id="afternoon" type="checkbox" value="">Afternoon</label>
			<label class="checkbox"><input id="evening" type="checkbox" value="">Evening</label>
		</div>
		<button type="submit" class="btn btn-primary" [disabled]="!myForm.form.valid">Save</button>
</div>
</div>
</form>



	


